Repository timescale/helm-charts, pull requests merged in 2022-10, with the labels that each got.

#467 avalanche: Switch to StatefulSet for stable replica ID
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/statefulset-avalanche.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

#469 feat(timescaledb-single): Allow setting resources for pgbackrest container
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#471 Promscale 0.15
  .github/renovate.json
  Makefile
  charts/promscale/Chart.yaml
Labels: area/promscale, area/tooling

#461 charts: deprecate loadbalancer SVCs
  Makefile
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/README.md
  charts/timescaledb-single/ci/defaults-values.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/svc-timescaledb-replica.yaml
  charts/timescaledb-single/templates/svc-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/tooling, area/timescaledb-single

#475 Fix regexp in renovate configuration
  .github/renovate.json
Labels: area/tooling

#478 charts/promscale: regenerate alerts
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
Labels: area/promscale

#479 .github: do not close dependency dashboard issue
  .github/renovate.json
Labels: area/tooling
