Repository timescale/helm-charts, pull requests merged in 2022-08, with the labels that each got.

#414 Update default values for postgres_exporter and documentation
  charts/timescaledb-single/admin-guide.md
  charts/timescaledb-single/values.yaml
Labels: documentation, enhancement

#424 *: change branch name to main
  .github/workflows/release.yml
  CONTRIBUTING.md
  charts/timescaledb-multinode/Chart.yaml
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/values.yaml
  ct.yaml
Labels: area/tooling, area/docs, area/timescaledb-single, area/timescaledb-multinode

#426 feat: make sure to use the correct batch api for crons
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: area/timescaledb-single

#432 Fix capabilities
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: area/timescaledb-single

#434 fix schema and chart
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/timescaledb-single
