Repository timescale/helm-charts, pull requests merged in 2022-09, with the labels that each got.

#437 Fix chart schema validation if used as dependency
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/timescaledb-single

#435 Add Service account annotations configuration
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/serviceaccount-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#438 timescaledb-single: simplify metrics gathering
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/podmonitor.yaml
  charts/timescaledb-single/templates/servicemonitor.yaml
  charts/timescaledb-single/templates/svc-prometheus.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#440 charts/timescaledb-single: bump used image versions
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#451 Update promscale to 0.14.0
  .github/workflows/tests.yml
  Makefile
  charts/promscale/Chart.yaml
Labels: area/promscale, area/tooling

#452 Allow mount extra volumes for config files
  charts/promscale/Chart.yaml
  charts/promscale/templates/deployment-promscale.yaml
  charts/promscale/values.yaml
Labels: area/promscale

#450 Fix pod annotation indentation
  charts/promscale/Chart.yaml
  charts/promscale/templates/deployment-promscale.yaml
Labels: area/promscale

#454 Add affinity schema to promscale chart
  charts/promscale/Chart.yaml
  charts/promscale/values.schema.json
Labels: area/promscale

#455 Add template option to extraArgs
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/deployment-avalanche.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

#447 Bugfix for issue #446 - podmonitor not working in timescaledb-single.
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/podmonitor.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#448 Removed -pg-version 11 from timescaledb-tune command
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#460 Update avalanche helm chart to disable readinessProbe by default
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/deployment-avalanche.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

#458 Added possibility to enable thanos StoreAPI port
  charts/promscale/Chart.yaml
  charts/promscale/templates/deployment-promscale.yaml
  charts/promscale/templates/prometheus-rule.yaml
  charts/promscale/templates/svc-promscale.yaml
  charts/promscale/values.yaml
Labels: area/promscale

#456 Fixed wrong exit code in restore script when backup is disabled
  .github/workflows/project-management.yml
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: area/timescaledb-single

#441 allow adding labels to StatefulSet pods
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single
