Repository timescale/helm-charts, pull requests merged in 2022-11, with the labels that each got.

#482 Fix CI build issues
  .github/workflows/push.yaml
  .github/workflows/release.yml
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
Labels: area/promscale

#483 charts/avalanche: allow setting additional labels
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/_helpers.tpl
  charts/avalanche/values.yaml
Labels: area/avalanche

#485 Add missing k8s Service selector for timescaledb-single
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/svc-timescaledb.yaml
Labels: area/timescaledb-single

#484 chart/avalanche: add options related to pod placing
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/statefulset-avalanche.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

#489 fix targetLabels field for pod monitor
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/podmonitor.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#491 Cleanup deprecated code
  .github/labeler.yml
  .github/workflows/deprecate.yaml
  charts/repo/index.yaml
  charts/repo/timescaledb-multinode-0.3.0.tgz
  charts/repo/timescaledb-multinode-0.6.3.tgz
  charts/repo/timescaledb-multinode-0.7.0.tgz
  charts/repo/timescaledb-multinode-0.8.0.tgz
  charts/repo/timescaledb-single-0.10.0.tgz
  charts/repo/timescaledb-single-0.11.0.tgz
  charts/repo/timescaledb-single-0.12.0.tgz
  charts/repo/timescaledb-single-0.13.0.tgz
  charts/repo/timescaledb-single-0.13.1.tgz
  charts/repo/timescaledb-single-0.4.0.tgz
  charts/repo/timescaledb-single-0.5.0.tgz
  charts/repo/timescaledb-single-0.5.1.tgz
  charts/repo/timescaledb-single-0.5.2.tgz
  charts/repo/timescaledb-single-0.5.3.tgz
  charts/repo/timescaledb-single-0.5.4.tgz
  charts/repo/timescaledb-single-0.5.5.tgz
  charts/repo/timescaledb-single-0.5.6.tgz
  charts/repo/timescaledb-single-0.5.7.tgz
  charts/repo/timescaledb-single-0.5.8.tgz
  charts/repo/timescaledb-single-0.6.0.tgz
  charts/repo/timescaledb-single-0.6.1.tgz
  charts/repo/timescaledb-single-0.6.2.tgz
  charts/repo/timescaledb-single-0.7.0.tgz
  charts/repo/timescaledb-single-0.7.1.tgz
  charts/repo/timescaledb-single-0.8.0.tgz
  charts/repo/timescaledb-single-0.8.1.tgz
  charts/repo/timescaledb-single-0.8.2.tgz
  charts/repo/timescaledb-single-0.9.0.tgz
Labels: invalid, area/tooling

#497 charts/timescaledb-single: allow configuring CLI parameters of postgres_exporter
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#500 Add ipv6 addresses to schema validation
  .github/workflows/tests.yml
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/promscale, area/timescaledb-single

#506 Expose avalanche service monitor interval
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/service-monitor.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche
