Repository timescale/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#515 charts/timescaledb-single: move tstune script outside of helm templates
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/tstune.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#516 Remove static variable "socket_directory" and move prestop sql script out of helm templates
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/prestop.psql
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-pgbackrest.yaml
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#517 Static location for environment variables files
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#518 Move patroni and pgbackrest scripts
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/patroni_callback.sh
  charts/timescaledb-single/scripts/pgbackrest_archive_get.sh
  charts/timescaledb-single/scripts/pgbackrest_bootstrap.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: area/timescaledb-single

#519 Post init script migration
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/post_init.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#520 Pgbackrest scripts migration
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/pgbackrest_archive.sh
  charts/timescaledb-single/scripts/pgbackrest_restore.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#521 Restore-or-init script migration and shellcheck cleanup
  Makefile
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/restore_or_initdb.sh
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  scripts/extract-scripts.sh
Labels: area/tooling, area/timescaledb-single

#522 rename psql extension to sql to allow better interoperability with IDEs
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/prestop.sql
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#534 Fixing scope in label templating
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: area/timescaledb-single

#535 timescaledb-single: do not remove everything on upgrade
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#536 Add support to configure `scrapeTimeout` for Prometheus
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/service-monitor.yaml
Labels: area/avalanche

#537 charts/timescaledb-single: fix checksuming of tstune args
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#511 Note to enable backup for the restored release
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
Labels: area/timescaledb-single
