Repository timescale/helm-charts, pull requests merged in 2023-01, with the labels that each got.

#543 Prevent helm 3.10.3 linting failure
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: area/timescaledb-single

#528 charts/timescaledb-single: improve topology handling
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#546 charts/promscale: updated alerting rules
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
  charts/timescaledb-single/Chart.yaml
Labels: area/promscale, area/timescaledb-single

#549 charts/timescaledb-single: bump image to pg14.6-ts2.9.1-p1
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#527 Use helm revision number instead of random number for patroni reloader job
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/job-update-patroni.yaml
Labels: area/timescaledb-single

#401 Add Support for GCS and Azure backups
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/README.md
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/secret-pgbackrest.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#558 Add option to provide images used by jobs, bump chart version, update…
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/job-update-patroni.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

#552 set patronictl config file
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

#559 Fix/curl image regression in v0.32.0
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: bug, area/timescaledb-single
